<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>留言板</title>
</head>
<body>
    <form action="/anbang/saveMessage" name="Messagefrom" accept-charset="utf-8" method="post">
        <label class="label-tips" for="nickname">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</label>
        <input type="text" id="nickname" name="nickname" class="inputstyle"/>
        <div>
            <label class="lable-tips" for="telephone">联系方式:</label>
            <input type="text" id="telephone" name="telephone" class="inputstyle" />
        </div>
        <div>
            <label class="lable-tips" for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
            <input type="text" id="email" name="email" class="inputstyle" />
        </div>
        <div>
            <label class="lable-tips" for="content">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容:</label>
            <input type="text" id="content" name="content" class="inputstyle" />
        </div>
        <input type="submit" name="登录"/>
        <!-- <a href="register.html" class="zcxy" target="_blank">注册</a> -->
    </form>
</body>
</html>